.button-custom {
    background-color: black;
}

.card-title-admin {
    font-size: 20px;
    position: absolute;
    top: 50px;
    color: white;
    left: 10px;
    right: 0;
    text-align: left;
}

.card-admin {
    width: auto;
    height: 130px;
    background-color: #262327;
}

.pages-admin {
    align-self: right;
}

.admin-search {
    width: auto;
}

.btn-add {
    align-self: left;
}