body {
    background-color: #262327;
}

.page-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #383539;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
    padding: 20px;
    
}

.page-base {
    background-color: #262327;
    width: 1440px;
    margin: 0 auto;
    opacity: 0;
}
