.img{
    object-fit: contain;
}

.text{
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
}

.accordiontext{
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
}
.accordiontext:focus{
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
}
.accordiontext:not(.collapsed){
    color: black;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
}

.custom-line{

    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    height: 3px;
    border: none;
    
}

.accordion-button {
    font-family: 'Inter';
    font-style: normal;
    background-image: linear-gradient(to right, #6A82FB, #FC5C7D);

}

.file-btn {
    font-family: 'Inter';
    font-style: normal;
    width: 250px;
    background-color: #E9618E;

}

.file-btn:hover {
    background-color: #E95082;
    
}
