.card-filter{
    width: auto;
    background-color: #262327;
    border: none;
    height: auto;
}
/*
@media (max-width: 1140px){
    .card-filter{
        width: auto;
    }
}
*/
.title-text{
    font-size: 32px;
    background: -webkit-linear-gradient(0deg, #F95D80, #7081F6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-label{
    color: white;
    font-size: 17px;
}
.form-check-input[type='checkbox']:checked {
    background-color: black;
    border-color: black;
    box-shadow: none;
}
.card-product{
    border: none;
    width: auto;
    height: 350px;
    background: transparent;
}
.card-text{
    font-size: 20px;
    position: absolute;
    top: 305px;
    color: white;
}
.card-title{
    font-size: 20px;
    position: absolute;
    top: 272px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
.text-av{
    position: absolute;
    top: 295px;
    font-size: 12px;
    color:#38C835;
}
.text-nav{
    position: absolute;
    top: 295px;
    font-size: 12px;
    color:#DFD822;
}
.card-img-top{
    width: 222px;
    height: 263px;
    background: #ABABAB;
    border-radius: 15px;
    object-fit: fill;
}
/*
@media (max-width: 575.98px) {
    .card-img-top {
      height: 163px;
    }
    .card-product{
        height: 200px;
        width: 222px;
        margin-bottom: 50px;
    }
    .card-text{
        top: 205px;
    }
    .card-title{
        top: 172px;
    }
    .text-av{
        top: 192px;
    }
    .text-nav{
        top: 192px;
    }
  }
@media (min-width: 576px) and (max-width: 767.98px) {
    .card-img-top {
      height: 163px;
    }
    .card-product{
        height: 250px;
    }
    .card-text{
        top: 205px;
    }
    .card-title{
        top: 172px;
    }
    .text-av{
        top: 192px;
    }
    .text-nav{
        top: 192px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .card-img-top {
      height: 213px;
    }
    .card-product{
        height: 300px;
    }
    .card-text{
        top: 255px;
    }
    .card-title{
        top: 222px;
    }
    .text-av{
        top: 242px;
    }
    .text-nav{
        top: 242px;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .card-img-top {
      height: 213px;
    }
    .card-text{
        top: 255px;
    }
    .card-title{
        top: 222px;
    }
    .text-av{
        top: 242px;
    }
    .text-nav{
        top: 242px;
    }
}
*/
.text-new{
    color: white;
}
.navbar-custom .form-control {
    margin: 0 auto;
}

.search-bar{
    width: 170;
}
.products{
    overflow-y: scroll;
    height: 75vh;
}
.products::-webkit-scrollbar-track {
    border: none;
    padding: 2px 0;
    background-color: #404040;
}

.products::-webkit-scrollbar {
    width: 10px;
}

.products::-webkit-scrollbar-thumb {
    border-radius: none;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #737272;
    border: 1px solid #000;
}
.page-link {
    background-color: transparent;
    border: none;
    color: white;
} 
.pagination {
    display: flex;
    justify-content: center;
}
.pagination li a:hover {
    background-color: #262327;
    border: none;
    color: white;
}
.nav-filter{
    background-color: transparent;
    color: white;
    border: 1px solid black;
    border-radius: 15px;
    width: auto;
}
.drop-filter{
    background-color: #262327;
    text-align: center;
}
.drop-filter-item{
    color: white;
}
.nav-sort{
    background-color: transparent;
    color: white;
    border: 1px solid black;
    border-radius: 15px;
    width: auto;
}
.drop-menu{
    background-color: #262327;
    text-align: center;
}
.drop-item{
    color: white;
}
.sort-btn{
    width: auto;
    color: white;
    border: none;
}
.sort-btn:hover{
    border: 1px solid white;
    border-radius: 15px;
}

.spacing{
    justify-content: space-between;
}
@media (max-width: 845px){
    .spacing{
        justify-content: center;
    }
}
.pages{
    margin-left: 50px;
}